.nav-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    font-family: 'Montesserat', sans-serif;
    background-color: #357560;
}

.nav-links > a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

/* make white bar appear when hovering over page options */
.nav-links a:hover {
    border-bottom: 3px solid white;
  }

.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-family: 'Montesserat', sans-serif;
    color: black;
}

body{
    background-color: #C4D5C5;
}

.drag-and-drop {
    display: flex;
  }
  
  .draggable-container {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .droppable-container {
    width: 100px;
    height: 100px;
    border: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .droppable-container.active {
    opacity: 0.5;
  }
  
