.nav-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: 'Montesserat', sans-serif;
    background-color: #357560;
}

.nav-links > a {
    padding: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

/* make white bar appear when hovering over page options */
.nav-links a:hover {
    border-bottom: 3px solid white;
  }

.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-family: 'Montesserat', sans-serif;
    color: black;
}

body {
    background-color: #FFFFFF;
}

/* add padding for desktop; remove for mobile */
/* @media (min-width: 600px) {
    .introP {
        margin-left: 8rem;
        margin-right: 8rem;
    }
  } */

